.card-container {
    background-color: white;
    border: rgba(0, 128, 0, 0.384) ridge 6px;
    border-radius: 15px;
    margin: auto;
    padding: 10px;
    text-align: center;
    .url {
        clip-path: circle(50% at 50% 50%);
    }
    p {
        color: grey;
        font-size: large;
    }
    i {
        padding: 10px;
    }
}